@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/reset.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/layout-grid.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/box.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/base.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/forms.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/hp-promo.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/notifications.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/comments.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/buttons.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/banner.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/project.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/modal.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/project.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/icons.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/dropdown.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/editable.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/carousel.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/thumbnails.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/media-grid.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/follow.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/news-feed.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/tabs.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/feedback.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/activity.css');
@import url('/web/20120518203518cs_/http://alpha.scratch.mit.edu/scratchr2/static/css/adminpanel.css');





/*
     FILE ARCHIVED ON 20:35:18 May 18, 2012 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:47:40 Sep 28, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 385.04
  exclusion.robots: 246.467
  exclusion.robots.policy: 246.459
  xauthn.identify: 108.813
  xauthn.chkprivs: 137.451
  RedisCDXSource: 3.564
  esindex: 0.007
  LoadShardBlock: 116.605 (3)
  PetaboxLoader3.datanode: 62.411 (4)
  CDXLines.iter: 16.402 (3)
  PetaboxLoader3.resolve: 79.984 (2)
  load_resource: 74.472
*/